@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Purple100: hsl(254, 88%, 90%);
    --Purple500: hsl(256, 67%, 59%);
    --Yellow100: hsl(31, 66%, 93%);
    --Yellow500: hsl(39, 100%, 71%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #f4f4f9;
}

main {
    margin: 15px;
}

.grid-container {
    display: grid;
    gap: 30px;
}

.item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.main-banner {
    background-color: var(--Purple500);
}

.main-banner h2 {
    color: white;
    padding: 20px 30px 25px;
    font-size: 49px;
    font-weight: 500;
}

.main-banner h2 .ten {
    color: var(--Yellow500);
}

.faster {
    font-style: oblique;
    color: var(--White);
}

.main-banner img {
    width: 55%;
}

.main-banner p {
    font-size: 19px;
    padding: 10px 0 20px;
    color: var(--Yellow100);
}

.manage-accounts {
    background-color: var(--White);
}

.manage-accounts img {
    width: 100%;
    padding-bottom: 10px;
}

.manage-accounts p {
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
}

.maintain-schedule {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--Yellow500);

}

.maintain-schedule p {
    font-size: 30px;
    text-align: left;
    font-weight: 800;
    letter-spacing: -2px;
}

.maintain-schedule img {
    position: relative;
    bottom: -40px;
    width: 67%;
}

.schedule-time {
    background-color: var(--Purple100);
}

.schedule-time p {
    font-size: 25px;
    font-weight: 700;
    padding: 20px 0;
    letter-spacing: -1px;
}

.schedule-time .text2 {
    font-size: 20px;
    font-weight: 500;
    padding: 15px 30px;
}

.schedule-time img {
    width: 100%;
}

.growth-stats {
    background-color: var(--Purple500);
}

.growth-stats img {
    width: 70%;
}

.growth-stats p {
    padding: 25px 50px 0;
    font-size: 28px;
    color: var(--White);
}

.audience-growth {
    display: flex;
    background-color: var(--White);
    flex-direction: column;
    align-items: flex-start;
}

.audience-growth img {
    width: 60%;
}

.audience-growth .porcentaje {
    font-size: 45px;
    font-weight: 600;

}

.audience-growth .audience {
    font-size: 20px;
    padding: 20px 0;
    font-weight: 500;

}

.create-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--Yellow100);

}

.create-post p {
    font-size: 37px;
    text-align: left;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 15px 0;

}

.create-post p span {
    color: var(--Purple500);
    font-style: oblique;
}

.create-post img {
    padding: 15px 0 20px;
    width: 65%;
}

.ai-content {
    display: flex;
    background-color: var(--Yellow500);
    flex-direction: column;
    align-items: flex-start;
}

.ai-content p {
    text-align: left;
    font-size: 39px;
    font-weight: 700;
    letter-spacing: -1px;
}

.ai-content img {
    width: 85%;
    padding: 30px 0 0;
}

@media screen and (min-width: 768px) {
    main {
        display: flex;
        height: 95vh;
        justify-content: center;
        align-items: center;
    }

    .grid-container {
        max-width: 1100px;
        height: 800px;
        grid-template-rows: repeat(10, minmax(0, 1fr));
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .main-banner {
        grid-column: 2 / 4;
        grid-row: 1 / 5;
    }
    .main-banner img {
        width: 41%;
    }

    .manage-accounts {
        overflow: hidden;
        grid-column: 2 / 3;
        grid-row: 5 / 8;
    }
    .manage-accounts img {
        position: relative;
        right: -11px;
        width: 300px;
    }
    .manage-accounts p {
        font-size: 29px;
    }

    .maintain-schedule {
        grid-column: 3 / 4;
        grid-row: 5 / 8;
    }

    .maintain-schedule p {
        padding: 0 30px 0 0;
        font-size: 26px;
    }

    .maintain-schedule img {
        bottom: -10px;
        width: 100%;
    }

    .schedule-time {
        overflow: hidden;
        grid-column: 4 / 5;
        grid-row: 1 / 8;
    }

    .schedule-time img {
        width: 365px;
    }

    .schedule-time p {
        text-align: left;
        font-size: 29px;
    }

    .schedule-time .text2 {
        padding: 10px 17px 0;
        font-size: 18px;
        font-weight: 400;
    }

    .growth-stats {
        display: flex;
        grid-column: 3 / 5;
        grid-row: 8 / 11;
    }

    .growth-stats p {
        display: flex;
        padding: 0 0 0 20px;
        align-items: center;
        font-size: 35px;
        text-align: left;
    }

    .audience-growth {
        grid-column: 2 / 3;
        grid-row: 8 / 11;
    }

    .audience-growth .porcentaje {
        font-size: 45px;
    }

    .audience-growth .audience {
        font-size: 18px;
    }
    .audience-growth img {
        width: 85%;
    }

    .create-post {
        grid-column: 1 / 2;
        grid-row: 1 / 6;
    }

    .ai-content {
        grid-column: 1 / 2;
        grid-row: 6 / 11;
    }
    .ai-content img {
        width: 100%;
        padding: 20px 0 0;
    }



}